logs/
saved_models/
pre_processing/
__pycache__/
old_results/
*.pyc
*.pyo
*.pyd
*.ipynb
model/modules.py
*temp.py
*.sh
data/
run_old.py
contract/build/contracts/DeSocial.json
model/select_1.py
run_no.py