logs/
saved_models/
pre_processing/
__pycache__/
old_results/
*.pyc
*.pyo
*.pyd
*.ipynb
model/modules.py
*temp.py
pre_trained/
pretrained/
run_single.py
run_graph.sh
*.sh
train.py
data/
test.py
run_old.py
contract/build/contracts/DeSocial.json
model/select_1.py
run_no.py